
*.exe
dbu/tshead.ch
dbu/vcshead.ch
mana5/tshead.ch
mana5/vcshead.ch
sefazclass/gerapdf/tshead.ch
sefazclass/gerapdf/vcshead.ch
folhahab/lis/tshead.ch
folhahab/lis/vcshead.ch

convcep/tshead.ch
convcep/vcshead.ch
convcep/tshead.ch
convcep/vcshead.ch
dbu/tshead.ch
dbu/tshead.ch
sefazclass/gerapdf/tshead.ch
sefazclass/gerapdf/vcshead.ch
*.ch
convcep/vcshead.ch
convcep/vcshead.ch
convcep/tshead.ch
convcep/vcshead.ch
convcep/tshead.ch
convcep/vcshead.ch
convcep/tshead.ch
convcep/vcshead.ch
dbu/ErrorLog.Htm
dbu/tshead.ch
dbu/vcshead.ch
dbu/tshead.ch
dbu/tshead.ch
convcep/tshead.ch
convcep/vcshead.ch
dbu/error.log
dbu/dbu32/error.log
