//---------- Version.Rc

//
// Version Information resources
//
1 VERSIONINFO
    FILEVERSION     2,5,0,0
    PRODUCTVERSION  2,5,0,0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_UNKNOWN
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "04090025"
        {
            VALUE "CompanyName", "Community"
            VALUE "FileDescription", "DBU"
            VALUE "FileVersion", "2.5"
            VALUE "LegalCopyright", "DBU Versao Community"}
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 0x0025
    }
}
