1 VERSIONINFO
FILEVERSION 2024,09,01,0734
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName" , "Community"
VALUE "FileDescription" , "DBU"
VALUE "LegalCopyright" , "DBU Community"
VALUE "OriginalFilename" , "DBU"
VALUE "ProductName" , "DBU"
VALUE "ProductVersion" , "DBU Avancado"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x0416, 1252
END
END 

AppIcon ICON "chave.ico" 
