//#include <winuser.h>
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24

// Incorpora o Manifest de 64 bits
// O arquivo dbu.exe.manifest deve estar na mesma pasta
1 RT_MANIFEST "dbu.exe.manifest"

// Informações de Versão (Opcional, mas recomendado para 64 bits)
1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604B0"
        BEGIN
            VALUE "CompanyName",      "Seu Nome ou Empresa"
            VALUE "FileDescription",  "DBU Utilitario 64 Bits"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "dbu"
            VALUE "LegalCopyright",   "Copyright (C) 2026"
            VALUE "OriginalFilename", "dbu.exe"
            VALUE "ProductName",      "DBU Harbour 64"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END